﻿<!DOCTYPE html>
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/Site.css"/>
    <script src="~/Scripts/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <style>
        body {
            padding-top: 50px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="padding:0px 30px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Satıyorum.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-form navbar-left" style="margin-left: 120px;list-style-type:none;">
                    <li>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ne aramıştınız ..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-form navbar-right">
                    <li>
                            <div class="input-large form-control">
                                @Html.ActionLink("TR", "DilDegis", "Home",new { LanguageAbbrevation="tr"}) / 
                                @Html.ActionLink("EN", "DilDegis", "Home", new { LanguageAbbrevation = "en" }))
                            </div>
                            
                    </li>
                    <li>
                        @if (User.Identity.Name != null)
                        {
                            @Html.ActionLink("Admin Panel", "Index", "Admin", null, new { @style = "padding-top: 5px; padding-left: 10px; padding-bottom: 0px;padding-right: 0px;float: left;" });
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Context.UyeGirisi, "Login", "Home", null, new { @style = "padding-top: 5px; padding-left: 10px; padding-bottom: 0px;padding-right: 0px;float: left;" })<span style="padding-top: 5px; padding-left: 10px; padding-bottom: 0px;padding-right: 0px;float: left;">/</span>@Html.ActionLink(Resources.Context.UyeOl, "Register", "Home", null, new { @style = "padding-top: 5px; padding-left: 10px; padding-bottom: 0px;padding-right: 0px;float: left;" })

                        }
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
    </nav>
    <div style="padding-top:10px;">
        @RenderBody()

    </div>
    @if(ViewBag.panel!= "admin")
    {
    <footer class="footer-bs">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-brand animated fadeInLeft">
                    <h2>İletişim</h2>
                    <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                    <p>© 2014 BS3 UI Kit, All rights reserved</p>
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-3 ">
                    <ul class="social" style="list-style-type: none;">
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                    </ul>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    ©2016 Satıyorum.com. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
    }

    <script src="~/Scripts/jquery-1.11.2.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Site.js"></script>

</body>
</html>
