﻿@model satiyorum.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool ilk = true;
}
<div class="row row_temizleme">
        <div class="col-sm-12 col-md-12 row_temizleme" style="margin-bottom:10px;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var item in Model.kampanya)
                    {
                        if (ilk)
                        {
                            ilk = false;

                            <div class="item active">
                                <img src="data:image/png;base64,@System.Convert.ToBase64String(item.resim)" style="width:100%; height:500px;">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="data:image/png;base64,@System.Convert.ToBase64String(item.resim)" style="width:100%;height:500px;">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        }

                    }
                </div>

                <!-- Controls -->
                <a class="left carousel-control carousel-menu" style="width:5%;" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-menu" style="width:5%;" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row row_temizleme">
        @{
            Html.RenderPartial("~/Views/Shared/SayfaYanMenu.cshtml");
        }
        <div class="col-md-10 row_temizleme">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title" style="font-size: 20px;">
                                <a class="menuLink">
                                    <span class="glyphicon glyphicon-star">
                                    </span>@Resources.Context.PopulerIlan
                                </a>
                            </h1>
                        </div>
                        <div class="panel-body" style="padding:0px;">
                            <div class="row">
                                <div class="col-md-12 row_temizleme">
                                    <div class="well" style="padding:10px 5%;margin-bottom:0px;">
                                        <div id="myCarousel" class="carousel slide">
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div class="row-fluid">
                                                        @foreach (var item in Model.kategori.Take(6))
                                                        {
                                                            if (item.resim1 != null)
                                                            {
                                                                <div class="col-md-2"><a href="#x" class="thumbnail"><img src="data:image/png;base64,@System.Convert.ToBase64String(item.resim1)" alt="Image" style="max-width:100%;"></a></div>
                                                            }

                                                        }
                                                    </div><!--/row-fluid-->
                                                </div><!--/item-->


                                                <div class="item">
                                                    <div class="row-fluid">
                                                        @foreach (var item in Model.kategori.Reverse().Take(6))
                                                        {
                                                            if (item.resim1 != null)
                                                            {
                                                                <div class="col-md-2"><a href="#x" class="thumbnail"><img src="data:image/png;base64,@System.Convert.ToBase64String(item.resim1)" alt="Image" style="max-width:100%;"></a></div>
                                                            }

                                                        }
                                                        </div><!--/row-fluid-->
                                                    </div><!--/item-->


                                            </div><!--/carousel-inner-->

                                            <a class="left carousel-control carousel_menu" href="#myCarousel" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control carousel_menu" href="#myCarousel" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div><!--/myCarousel-->

                                    </div><!--/well-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row_temizleme">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title" style="font-size: 20px;">
                                <a class="menuLink">
                                    <span class="glyphicon glyphicon-plus">
                                    </span>@Resources.Context.YeniEklenenIlan
                                </a>
                            </h1>
                        </div>
                        <div class="panel-body" style="padding:0px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well" style="padding:10px 5%;margin-bottom:0px;">
                                        <div id="myCarousel1" class="carousel slide">
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <div class="row-fluid">
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                    </div><!--/row-fluid-->
                                                </div><!--/item-->

                                                <div class="item">
                                                    <div class="row-fluid">
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                    </div><!--/row-fluid-->
                                                </div><!--/item-->

                                                <div class="item">
                                                    <div class="row-fluid">
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                        <div class="col-md-2"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                                                    </div><!--/row-fluid-->
                                                </div><!--/item-->

                                            </div><!--/carousel-inner-->

                                            <a class="left carousel-control carousel_menu" href="#myCarousel1" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control carousel_menu" href="#myCarousel1" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div><!--/myCarousel-->

                                    </div><!--/well-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
